.panel-default-red {
    border-color : #7A7C7B;
}

.panel .panel-heading {
    color : #ffffff;
    background-color: #7A7C7B !important;
    border-color: #7A7C7B !important;
}

.panel-title {
    font-size: 22px !important;
}